.container {
  width: 400px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: right;
  border: 1px solid rgb(25, 25, 25);
  background-color: red;
}
#label {
  background-color: rgb(255, 228, 27);
  text-align: center;
}
